* {
    box-sizing: border-box;
    background-color: rgb(136, 136, 136);
}
.title {
    display: flex;
    justify-content: center;
    color:rgb(85, 0, 0);
}
.board {
    display: flex;
    width: 15rem;
    height: 15rem;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.reset {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 3rem;
}

.resetBtn {
    display: flex;
    border-radius: 5px;
    box-shadow: 2px;
    color: rgb(184, 184, 184);
    background-color: rgb(85, 0, 0);
    text-decoration: underline;
    padding: 2% 4%;
    align-items: center;
    border: none;
    font-size: 1vw;
    
}

.cell {
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    height: 33.3333%;
    border: 1px solid rgb(85, 0, 0);
}
.cell:hover {
    background-color: rgb(117, 117, 117);
    cursor: pointer;
}

.cell:nth-child(1) {
    border-top: none;
    border-left: none;
}
.cell:nth-child(2) {
    border-top: none;
}
.cell:nth-child(3) {
    border-top: none;
    border-right: none;
}
.cell:nth-child(4) {
    border-left: none;
}
.cell:nth-child(6) {
    border-right: none;
}
.cell:nth-child(7) {
    border-left: none;
    border-bottom: none;
}
.cell:nth-child(8) {
    border-bottom: none;
}
.cell:nth-child(9) {
    border-right: none;
    border-bottom: none;
}
.X {
    display: flex;
    align-items: center;
    justify-content: center;
}
.O {
    display: flex;
    align-items: center;
    justify-content: center;
}